/**
 * The EventPopup component holds the information for an event. The edit button at the bottom
 * will pull up the editing menu, which is extremely similar to the Add page. In fact, a lot
 * of the components used will include styles from that very page.
 */

@import '../custom.scss';

.event-popup {
    width: 25rem;
    padding: 0.5rem;
}

/*
 * #########################
 * ##### POPUP DISPLAY #####
 * #########################
 */

.event-popup-display {
    display: flex;
    flex-direction: row;
}

.event-popup-home-side {
    flex-basis: 50%;
    overflow-x: hidden;
    padding: 0.5rem;
}

.event-popup-left {
    border-right: 0.03rem solid $text-primary;
}

/*
 * ######################
 * ##### POPUP INFO #####
 * ######################
 */

.event-popup-type {
    font-size: 0.6rem;
}

.event-popup-type.event {
    color: $type-event-darker;
}

.event-popup-type.signup {
    color: $type-signup;
}

.event-popup-name {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 1.1rem;
    margin-bottom: -0.1rem;
}

.event-popup-club {
    font-size: 0.65rem;
    color: $text-light;
}

.event-popup-date {
    margin-top: 0.5rem;
    font-size: 0.65rem;
}

.event-popup-time {
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
}

.event-popup-link {
    display: block;
    width: fit-content;
    font-size: 0.5rem;
    color: $text-light;
    transition: 0.2s;
    margin-bottom: 0.25rem;
}

.event-popup-link:hover {
    color: $primary;
}

.event-popup-edited-by {
    margin-top: 3rem;
    font-size: 0.45rem;
    color: $text-lighter;
    cursor: pointer;
}

.event-popup-open-edit {
    font-size: 0.65rem;
    padding: 0.1rem 0.25rem;
}

.event-popup-description {
    font-size: 0.55rem;
    white-space: pre-line;
}

/*
 * ###########################
 * ##### POPUP EDIT MENU #####
 * ###########################
 */

.event-popup-edit {
    padding: 0.5rem;
}

.event-popup-type-switcher {
    display: flex;
}

.event-popup-name-input {
    width: 15rem;
    font-size: 1.25rem !important;
}

.event-popup input,
.event-popup label,
.event-popup textarea {
    font-size: 0.75rem;
}

.event-popup label {
    margin-right: 0.5rem;
}

.event-popup-description-input {
    width: 95%;
    height: 6rem;
    margin: 0 0 0.5rem 0;
    padding: 0.35rem;
}

.event-popup-extra-link {
    margin-left: 2rem;
}

.event-popup-action-button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.event-popup-action-button-box .action-button {
    font-size: 0.75rem;
    padding: 0.1rem 0.25rem;
    margin: 0.25rem 0.25rem 0;
}

/*
 * #########################
 * ##### MEDIA QUERIES #####
 * #########################
 */

@include media-phone-down {
    .event-popup {
        width: 90vw;
        padding: 5vw;
    }

    .event-popup-display {
        flex-direction: column;
    }

    .event-popup-left {
        border: none;
        border-bottom: 0.03rem solid $text-primary;
    }

    .event-popup-type {
        font-size: 0.75rem;
    }

    .event-popup-name {
        font-size: 1.5rem;
    }

    .event-popup-club {
        font-size: 1rem;
    }

    .event-popup-date,
    .event-popup-time {
        font-size: 0.8rem;
    }

    .event-popup-link {
        font-size: 0.75rem;
    }

    .event-popup-edited-by {
        margin: 0.5rem 0 0;
        font-size: 0.65rem;
    }
}
