@import '../../custom.scss';

.volunteering-card {
    background-color: $background;
    box-shadow: 0 0 0.3rem $background-tint;
    text-align: center;
    width: 9rem;
    height: 7.5rem;
    transition: 0.3s;
}

.volunteering-card:hover {
    cursor: pointer;
    box-shadow: 0 0 0.2rem 0.1rem $background-dark;
}

.volunteering-card-overlay {
    padding: 0.25rem;
    width: 8.5rem;
    height: 7rem;
}

.volunteering-card-overlay-closed {
    background-color: #00000033;
}

.volunteering-card-status {
    font-size: 0.6rem;
    font-family: $title-font;
}

.volunteering-card-status.open {
    color: $primary;
}

.volunteering-card-status.closed {
    color: $bad;
}

.volunteering-card-name {
    margin: 0.1rem;
    font-family: $title-font;
    font-size: 0.9rem;
    font-weight: 300;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.volunteering-card-club-name {
    color: $text-light;
    font-size: 0.6rem;
    font-family: $title-font;
    font-weight: 300;
}

.volunteering-card-description {
    margin-bottom: 0.25rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 0.5rem;
    font-weight: 300;
}

.volunteering-card-filter-list {
    font-size: 0.5rem;
}

.f-limited {
    color: $filter-limited;
}

.f-semester {
    color: $filter-semester;
}

.f-set-times {
    color: $filter-set-times;
}

.f-weekly {
    color: $filter-weekly;
}
