@import '../../custom.scss';

.club-card-list {
    padding: 1.25rem 7vw 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem);
    row-gap: 1rem;
    justify-content: center;
}

.club-card-list > .club-card {
    margin: auto;
}

.clubs-add-club-container {
    margin-bottom: 1rem;
    text-align: center;
}

@include media-phone-down {
    .club-card-list {
        padding: 1rem 0 0.5rem;
        grid-template-columns: repeat(auto-fill, 7rem);
    }
}
