@import '../../custom.scss';

.committee-card {
    position: relative;
    width: 10rem;
    height: 9rem;

    text-align: center;
    background-color: $background;
    box-shadow: 0 0 0.2rem $background-tint;
    transition: 0.2s;
}

.committee-card-name {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    color: $text-primary;
}

.committee-card-description {
    padding: 0 0.25rem;
    font-size: 0.45rem;
    font-family: $alt-font;
}

.committee-card-icons {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
}
