@import './custom.scss';

// Min height is so scrollbar always shows
// I can't do 'overflow: scroll' beacuse it would break the sticky containers TT
html,
body,
#root,
.App {
    min-height: 101vh;
    margin: 0;

    font-size: 36px;
    font-family: $block-font;
    color: $text-primary;
    background-color: $background;
}

h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
    font-family: $title-font;
    font-weight: 300;
    color: $text-primary;
}

p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: $text-primary;
}

textarea {
    padding: 0.1rem;
    border: 0.05rem solid $background-tint;
    border-radius: 0.1rem;

    font-family: $block-font;
    font-weight: 400;
    color: $text-primary;
    background-color: $background;
}

input {
    font-family: $block-font;
    font-weight: 400;
    color: $text-primary;
    background-color: $background;
}

label {
    margin-right: 1rem;
    color: $text-light;
    font-family: $title-font;
    font-weight: 300;
}

button {
    font-family: $title-font;
    outline: none;
    color: $text-primary;
}

a {
    color: $primary;
    text-decoration: none;
    font-weight: 400;
    transition: 0.2s;
}

a:hover {
    color: $primary-dark;
}

/*
 * ##################
 * ##### COLORS #####
 * ##################
 */

.App {
    --background: white;
    --background-tint: #dddddd;
    --background-dark: #aaaaaa;
    --primary: #00cd2d;
    --primary-dark: #01831d;
    --bad: #ff482f;
    --type-event: #ffc178;
    --type-event-darker: #ff9a3d;
    --type-signup: #d49dff;
    --text-primary: black;
    --text-light: #777777;
    --text-lighter: #9e9e9e;
    --google-blue: #4285f4;
}

// DARK THEME POG

.App.dark {
    --background: #212121;
    --background-tint: #444444;
    --background-dark: #555555;
    --primary: #00cd2d;
    --primary-dark: #01831d;
    --bad: #ff482f;
    --type-event: #ffc178;
    --type-event-darker: #ff9a3d;
    --type-signup: #d49dff;
    --text-primary: #cccccc;
    --text-light: #aaaaaa;
    --text-lighter: #9e9e9e;
    --google-blue: #4285f4;
}

.menu-bkgd {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 2.5rem;
    background-color: $background;
    filter: drop-shadow(0 0 0.1rem $background-tint);
}

.page {
    padding: 2.5rem 0 0.5rem;
}

.toggle-dark-theme {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

.smol-spacer {
    height: 0.25rem;
}

.line-in {
    padding: 0.1rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border: none;
    border-bottom: 0.05rem solid $background-tint;
    font-family: $block-font;
}

.line-in::placeholder {
    color: $background-tint;
}

.trash-icon {
    height: 0.75rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

// Svg color manipulation on hover
.trash-can-path {
    transition: 0.2s;
}

.trash-icon:hover .trash-can-path {
    fill: $bad;
}

.center-button {
    margin: 0.75rem;
    text-align: center;
}

.center-div {
    width: 100%;
    margin: auto;
    text-align: center;
}

.center-text {
    text-align: center;
}

.fixed {
    position: fixed;
}

/*
 * ############################
 * ##### PSEUDO-SELECTORS #####
 * ############################
 */

:focus {
    outline: none;
}

::placeholder {
    color: $text-lighter;
    opacity: 1;
}

/*
 * ######################################
 * ##### ACTIVE & INACTIVE DISPLAYS #####
 * ######################################
 */

.inactive {
    display: none;
}

.active {
    display: block;
}

/*
 * #########################
 * ##### MEDIA QUERIES #####
 * #########################
 */

@include media-small-desktop-down {
    html {
        font-size: 32px;
    }
}

@include media-tablet-down {
    html {
        font-size: 24px;
    }

    label {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@include media-phone-down {
    .menu-bkgd {
        height: 2rem;
    }

    label {
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    .line-in {
        font-size: 0.85rem;
    }

    .page {
        padding-top: 2rem;
    }

    .fixed {
        position: static;
    }
}
