@import './custom.scss';

html,
body,
#root {
    min-height: 100%;
    margin: 0;

    font-size: 36px;
    font-family: $block-font;
    color: $text-primary;
}

h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
    font-family: $title-font;
    font-weight: 300;
}

p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
}

textarea {
    padding: 0.1rem;
    border: 0.05rem solid $background-tint;
    border-radius: 0.1rem;

    font-family: $block-font;
    font-weight: 400;
}

input {
    font-family: $block-font;
    font-weight: 400;
}

label {
    margin-right: 1rem;
    color: $text-light;
    font-family: $title-font;
    font-weight: 300;
}

button {
    font-family: $title-font;
    outline: none;
}

a {
    color: $primary;
    text-decoration: none;
    font-weight: 400;
    transition: 0.2s;
}

a:hover {
    color: $primary-dark;
}

.menu-bkgd {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 2.5rem;
    background-color: $background;
    filter: drop-shadow(0 0 0.1rem $background-tint);
}

.page {
    padding-top: 2.5rem;
}

.smol-spacer {
    height: 0.25rem;
}

.line-in {
    padding: 0.1rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border: none;
    border-bottom: 0.05rem solid $background-tint;
    font-family: $block-font;
}

.line-in::placeholder {
    color: $background-tint;
}

.trash-icon {
    height: 0.75rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

// Svg color manipulation on hover
.trash-can-path {
    transition: 0.2s;
}

.trash-icon:hover .trash-can-path {
    fill: $bad;
}

.center-button {
    margin: 0.75rem;
    text-align: center;
}

.center-div {
    width: 100%;
    margin: auto;
    text-align: center;
}

/*
 * ############################
 * ##### PSEUDO-SELECTORS #####
 * ############################
 */

:focus {
    outline: none;
}

::placeholder {
    color: $text-lighter;
    opacity: 1;
}

/*
 * ######################################
 * ##### ACTIVE & INACTIVE DISPLAYS #####
 * ######################################
 */

.inactive {
    display: none;
}

.active {
    display: block;
}

/*
 * #########################
 * ##### MEDIA QUERIES #####
 * #########################
 */

@include media-small-desktop-down {
    html {
        font-size: 32px;
    }
}

@include media-tablet-down {
    html {
        font-size: 24px;
    }

    label {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@include media-phone-down {
    .menu-bkgd {
        height: 2rem;
    }

    label {
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    .line-in {
        font-size: 0.85rem;
    }

    .page {
        padding-top: 2rem;
    }
}
