@import './custom.scss';

html, body, #root {
    margin: 0;
    color: black;
    min-height: 100%;
    font-size: 2vw;
    font-family: 'Bubblegum Sans', sans-serif;
}

.App {
    margin: 0 18vw;
}

@media handheld and (max-width: 652px),
screen and (max-device-width: 652px),
screen and (max-width: 652px) {
    .App {
        margin: 0;
    }
    html, body, #root {
        font-size: 6vw;
    }
}