@import './custom.scss';

html, body, #root {
    margin: 0;
    color: $text-primary;
    min-height: 100%;
    font-size: 36px;
    font-family: $main-font;
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

.menu-bkgd {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 2.5rem;
    background-color: $background;
    filter: drop-shadow(0 0 0.1rem $background-tint);
}

.page {
    padding-top: 2.5rem;
}

@media handheld and (max-width: 992px),
screen and (max-device-width: 992px),
screen and (max-width: 992px) {
    html, body, #root {
        font-size: 24px;
    }
    .menu-bkgd {
        height: 2rem;
    }
}

@media handheld and (max-width: 652px),
screen and (max-device-width: 652px),
screen and (max-width: 652px) {
    html, body, #root {
        font-size: 24px;
    }
    .menu-bkgd {
        height: 2rem;
    }
}