// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Bubblegum+Sans&display=swap');

// TODO: change fonts to use these variables
$main-font: 'Bubblegum Sans', sans-serif;
$alt-font: 'Montserrat', sans-serif;

// Color Variables

$background: white;
$background-tint: #dddddd;
$background-dark: #aaaaaa;
$primary: #00cd2d;
$bad: #ff482f;
$type-event: #ffc178;
$type-event-darker: #ff9a3d;
$type-signup: #d49dff;
$text-primary: black;
$text-light: #777777;
$text-lighter: #9e9e9e;

// Volunteering Filter Colors

$filter-all: $background-tint;
$filter-limited: #ffb258;
$filter-semester: #ff8b99;
$filter-set-times: #abb8ff;
$filter-weekly: #d38fff;
$filter-open: #82ee9a;
