// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Bubblegum+Sans&display=swap');

// Color Variables

$background: white;
$primary: #00CD2D;
$bad: #FF482F;
$type-event: #FFC178;
$type-signup: #D49DFF;
$text-primary: black;
$text-light: #777777;
$text-lighter: #9E9E9E;

// General formats

::placeholder {
    color: $text-lighter;
    opacity: 1;
}
h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
}
input {
    font-family: 'Bubblegum Sans', sans-serif;
    border: 0.05rem solid #DDDDDD;
    border-radius: 0.1rem;
    padding: 0.1rem;
}