// Import fonts

// TODO: change fonts to use these variables
$title-font: 'Bubblegum Sans', sans-serif;
$block-font: 'Source Sans Pro', sans-serif;
$alt-font: 'Montserrat', sans-serif;
$google-font: 'Roboto', sans-serif;

// Color Variables (check app.js for css variables)

$background: var(--background);
$background-tint: var(--background-tint);
$background-dark: var(--background-dark);
$primary: var(--primary);
$primary-dark: var(--primary-dark);
$bad: var(--bad);
$type-event: var(--type-event);
$type-event-darker: var(--type-event-darker);
$type-signup: var(--type-signup);
$text-primary: var(--text-primary);
$text-light: var(--text-light);
$text-lighter: var(--text-lighter);
$google-blue: var(--google-blue);

// Volunteering Filter Colors

$filter-all: $background-tint;
$filter-limited: #ffb258;
$filter-semester: #ff8b99;
$filter-set-times: #abb8ff;
$filter-weekly: #d38fff;
$filter-open: #82ee9a;

// Media Queries

@mixin media-small-desktop-down {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin media-tablet-down {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin media-phone-down {
    @media only screen and (max-width: 652px) {
        @content;
    }
}
