/**
 * Date sections simply display a date with a divider. The dividers on the side are just
 * short divs with a border radius.
 */
@import '../../custom.scss';

.date-section {
    position: sticky;
    top: 5rem;
    z-index: 1;
    padding: 0.5rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 0.7rem;
    font-family: $title-font;
    background-color: $background;
}

.date-section-line {
    height: 0.125rem;
    border-radius: 1rem;
    background-color: $text-primary;
}

.date-section-line.left {
    flex-grow: 1;
}

.date-section-line.right {
    flex-grow: 6;
}

.date-section-date {
    padding: 0 0.5rem;
}

@include media-phone-down {
    .date-section {
        top: 4rem;
    }
}
