/**
 * The home component is the homepage of our site! By default, this will display a
 * list of upcoming events, in order by starting date/time. There are many features of this
 * simple page:
 * 
 * 1) Each date section is a sticky container, meaning that if there are enough events,
 *    the date section will stay at the top when scrolled above the top of the page.
 * 2) The button at the top will switch a calendar view of the events, implemented
 *    in the Calendar component.
 */

@import '../../custom.scss';

/* 
 * ####################
 * ##### HOME TOP #####
 * ####################
 */

.home-top {
    position: fixed;
    padding-top: 0.5rem;
    top: 2.5rem;
    height: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: 15% 10% 12.5% 2.5% 20% 2.5% 7.5% 15% 15%;
    align-items: center;

    font-family: $title-font;
    background-color: $background;
    z-index: 1;
}

.home-top button {
    padding: 0.1rem 0;
    border: 0.1rem solid $text-primary;
    font-size: 0.75rem;
}

.home-top button:hover {
    border: 0.1rem solid $primary;
    box-shadow: none;
    color: $primary;
}

.home-top-item.today {
    grid-column-start: 2;
}

.home-top-item.month-change {
    padding: 0;
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
}

.home-top-item.month-change:hover {
    border: none;
    color: $primary;
}

.home-top-item.month-change.backward {
    grid-column-start: 4;
}

.home-top-item.month-year {
    grid-column-start: 5;
    margin: auto;
    font-size: 1rem;
}

.home-top-item.month-change.forward {
    grid-column-start: 6;
}

.home-top-item.view-switch {
    grid-column-start: 8;
}

/*
 * #############################
 * ##### HOMEPAGE CONTENTS #####
 * #############################
 */

.home-schedule-view {
    margin: 2.5rem 14vw 0 14vw;
    padding-bottom: 0.5rem;
}

.home-calendar {
    margin-top: 3rem;
}

/*
 * #########################
 * ##### MEDIA QUERIES #####
 * #########################
 */

@include media-small-desktop-down {
    .schedule-view {
        margin: 2rem 2rem 0;
    }

    .calendar-header {
        margin: 1rem 0.5rem 0;
    }

    .calendar-days {
        margin: 0 0.5rem 0.5rem;
    }
}

@include media-tablet-down {
    .month-year {
        font-size: 1rem;
    }

    // Center the month and get rid of view switcher
    .dummy-change-month,
    .dummy {
        display: none;
        width: 0;
    }

    .view-switch {
        display: none;
    }
}

@include media-phone-down {
    .home-top {
        top: 2rem;
    }

    .schedule-view {
        margin: 2rem 0.5rem;
    }
}
