/**
 * This is the About page, with a simple description of the site in paragraph tags
 * along with a link to the Github, which is just in a LinkBox.
 * The form at the bottom is a simple textarea with a submit button.
 */

@import '../custom.scss';

.about {
    margin: 1rem 8rem 0;
}

.about-info-p {
    text-align: center;
    font-size: 0.9rem;
}

.about-link-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.about-link-box {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*
 * ####################
 * ##### FEEDBACK #####
 * ####################
 */

#feedback-form {
    padding: 0.25rem;
    font-size: 0.75rem;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
}

#feedback-submit {
    border: 0;
    background-color: $background;
    color: $primary;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    filter: drop-shadow(0 0 0.05rem $background-tint);
    transition: 0.3s;
}

#feedback-submit:hover {
    filter: drop-shadow(0 0 0.15rem $background-tint);
}
