@import '../custom.scss';

.About {
    margin: 1rem 8rem 0;
}

.info-p {
    text-align: center;
    font-size: 0.9rem;
}

.About > .link-container {
    margin: 1rem 0;
}

.About > .link-container > .LinkBox {
    margin-left: 1rem;
    margin-right: 1rem;
}

#feedback-form {
    padding: 0.25rem;
    font-size: 0.75rem;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
}

.center-div {
    margin: 0.75rem;
    text-align: center;
}

#feedback-submit {
    border: 0;
    background-color: $background;
    color: $primary;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    filter: drop-shadow(0 0 0.05rem $background-tint);
    transition: 0.3s;
}

#feedback-submit:hover {
    filter: drop-shadow(0 0 0.15rem $background-tint);
}