@import '../custom.scss';

.Add {
    margin: 1rem 8rem 0;
}

.type-switcher {
    display: flex;
    width: 13rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.type-button {
    font-size: 0.7rem;
    width: 6rem;
    text-align: center;
    padding: 0.15rem 0;
    background-color: $background;
    border: 0.075rem solid $background-tint;
    color: $background-tint;
    transition: 0.2s;
}

.type-button:hover {
    cursor: pointer;
}

.event-button.event-active,
.event-button:hover {
    color: $type-event;
    border-color: $type-event;
}

.signup-button.signup-active,
.signup-button:hover {
    color: $type-signup;
    border-color: $type-signup;
}

.name-input {
    width: 100%;
    font-size: 1.25rem !important;
}

.club-name-input,
.links-input,
.added-by-input {
    width: 50%;
}

.description-input {
    font-size: 1rem;
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.time-input {
    margin-left: 1rem;
}

// TODO: Make submit button component and replace in About.js
.submit-add {
    border: 0;
    background-color: $background;
    color: $primary;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    filter: drop-shadow(0 0 0.05rem $background-tint);
    transition: 0.3s;
}

.submit-add:hover {
    filter: drop-shadow(0 0 0.15rem $background-tint);
    cursor: pointer;
}

// TODO: Move this into custom.scss and remove same elements from About.js
.center-div {
    margin: 0.75rem;
    text-align: center;
}

.extra-link {
    margin-left: 3rem;
}

.invalid-add {
    margin: 0.25rem 0;
    color: $bad;
    font-size: 0.75rem;
    text-align: center;
}

.timezone-message {
    margin: 0 0 0.75rem 2.75rem;
    font-size: 0.55rem;
    color: $text-light;
}