@import '../custom.scss';

.Clubs {
    margin: 1.25rem 7rem 1rem;

}

.club-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem);
    row-gap: 1rem;
    justify-content: start;
}

.club-card-list > .ClubCard {
    margin: 0 0.5rem;
}