@import '../custom.scss';
.error-message {
    margin: 3vh auto;
    width: fit-content;
    text-align: center;
}
.error-message > ul {
    list-style-type: none;
}
.page-not-found-nav-item {
    text-align: center;
    text-decoration: none;
    color: $text-primary;
    padding: 10px;
    margin: 10px auto;
    border-radius: 0.1rem;
    transition: 0.3s;
}
.page-not-found-nav-item:hover {
    background-color: $background-tint;
}
.helper-text {
    font-size: 0.6em;
}
