@import '../custom.scss';

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-container > .LinkBox {
    width: 9rem;
}

.volunteering-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}