@import '../custom.scss';

.links-title {
    margin: 1rem 0 0.5rem;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.link-container > .LinkBox {
    width: 9rem;
    margin: 0.4rem 0.4rem;
}

.volunteering-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 9rem);
    justify-items: center;
    align-items: center;
    margin: 0 6rem 1rem;
    justify-content: start;
}

.volunteering-filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 6rem 0;
}

.vol-filter {
    background-color: $background;
    border: 0.1rem solid $background-tint;
    border-radius: 1rem;
    width: 5rem;
    // TODO: Fix slightly off button ratios
    padding: 0.2rem 0.1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    transition: 0.2s;
}

$filter-all: $background-tint;
$filter-limited: #FFB258;
$filter-semester: #FF8B99;
$filter-set-times: #ABB8FF;
$filter-weekly: #D38CFF;
$filter-open: #82EE9A;

.vol-filter.all {
    border-color: $filter-all;
}

.vol-filter.all.active,
.vol-filter.all:hover {
    background-color: $filter-all;
}

.vol-filter.limited {
    border-color: $filter-limited;
}

.vol-filter.limited.active,
.vol-filter.limited:hover {
    background-color: $filter-limited;
}

.vol-filter.semester {
    border-color: $filter-semester;
}

.vol-filter.semester.active,
.vol-filter.semester:hover {
    background-color: $filter-semester;
}

.vol-filter.set-times {
    border-color: $filter-set-times;
}

.vol-filter.set-times.active,
.vol-filter.set-times:hover {
    background-color: $filter-set-times;
}

.vol-filter.weekly {
    border-color: $filter-weekly;
}

.vol-filter.weekly.active,
.vol-filter.weekly:hover {
    background-color: $filter-weekly;
}

.vol-filter.open {
    border-color: $filter-open;
}

.vol-filter.open.active,
.vol-filter.open:hover {
    background-color: $filter-open;
}

.vol-filter:hover {
    cursor: pointer;
}