/**
 * Page to display the results of a search. The search bar at the top is used to do additional
 * searches. This is a simple list of search result components.
 */

@import '../../custom.scss';

.search {
    margin-bottom: 1rem;
    text-align: center;
}

.search-page-bar {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    padding: 0.25rem;
}

.search-message {
    margin: 0.5rem 0;
    text-align: center;
    color: $text-light;
}

.search-result-list {
    margin: 0 15%;
}
