/**
 * This is the component for one search result. It contains all the important event display info,
 * along with the type of event on the left. Hovering over this element will grey the background.
 */

@import '../../custom.scss';

.search-result {
    padding: 0.5rem;
    display: flex;
    overflow: hidden;
    border-radius: 0.25rem;

    text-align: left;
    background-color: $background;
    cursor: pointer;
    transition: 0.2s;
}

.search-result:hover {
    background-color: $background-tint;
}

/*
 * ###############################
 * ##### POSITION CONTAINERS #####
 * ###############################
 */

.search-result-right {
    display: flex;
    flex-direction: column;
}

.search-result-bottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

/*
 * #####################
 * ##### INFO TEXT #####
 * #####################
 */

.search-result-event-type {
    height: 0.8rem;
    width: 0.8rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $type-event;
    border: 0.1rem solid $text-primary;
    border-radius: 0.25rem;
    margin: 0 1em 0 0;
}

.search-result-event-type.signup {
    background-color: $type-signup;
}

.search-result-event-club-name {
    width: 4rem;
    padding-right: 0.5rem;
    overflow: hidden;

    font-size: 0.65rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text-lighter;
}

.search-result-event-datetime {
    font-size: 0.75rem;
    color: $text-light;
}
