@import '../../custom.scss';

.submit-group {
    margin-bottom: 0.5rem;
}

.submit-group-buttons {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-group-buttons.inactive {
    display: none !important;
}

.submit-group .action-button {
    margin: 0.25rem 0.25rem 0;
    font-size: 1rem;
}

.submit-group-post-message {
    text-align: right;
    font-family: $title-font;
    color: $text-light;
}