
.admin-content {
    margin: 0 4rem 1rem;
}

.admin-db-input-box {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-db-input-box-item {
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;   
}

.admin-db-input {
    width: 50%;
    font-size: 1rem;
}

.admin-export-button-box {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-export-button {
    margin: 0.5rem;
    
}

.admin-export-box {
    display: block;
    width: 90%;
    height: 10rem;
    margin: auto;
    padding: 0.5rem;
    font-size: 0.75rem;
}