/**
 * The auth component handles the callback after users log in
 * with their google accounts. It will simply display a loading
 * message that will change when the user is redirected
 */

@import '../../custom.scss';

.auth {
    margin: 1rem 0;
}

.auth-message {
    font-size: 1.5rem;
    font-family: $title-font;
    text-align: center;
}

.auth-submessage {
    text-align: center;
}