@import '../../custom.scss';

.auth {
    margin: 1rem 0;
}

.auth-message {
    font-size: 1.5rem;
    font-family: $title-font;
    text-align: center;
}

.auth-submessage {
    text-align: center;
}