/**
 * Committee Edit component for editing committees of a club.
 * It consists of a series of input boxes:
 * 
 * 1) The main text inputs are for the name and links of the committee.
 * 2) The text area is for entering the description.
 * 3) And the delete icon on the right will turn red when hovered over.
 */

@import '../../custom.scss';

.committee-edit {
    width: 96.5%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0.2rem $background-tint;
}

/*
 * #######################
 * ##### TOP SECTION #####
 * #######################
 */

.committee-edit-name-trash-container {
    display: flex;
    flex-direction: row;
}

.committee-edit-name-input {
    margin: 0 !important;
    width: 95%;
    font-size: 1rem;
}

.committee-edit-trash-icon {
    margin-left: 0.5rem;
}

/*
 * #####################
 * ##### EDIT INFO #####
 * #####################
 */

.committee-edit-label {
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

.committee-edit-input {
    margin-bottom: 0.25rem !important;
    width: 75%;
    font-size: 0.75rem;
}
