/**
 * The edit login component contains two main components:
 *
 * 1) A "Sign in with Google" button that will change to "Logout"
 *    when the user is signed in.
 * 2) A message showing their ip if not signed in or their name if signed in.
 */

@import '../../custom.scss';

.edit-login {
    margin: 1rem 2rem;
}

/*
 * #############################
 * ##### LOGIN TEXT + DIVS #####
 * #############################
 */

.edit-login-top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-login-title {
    font-size: 1rem;
    color: $bad;
    margin: 0;
}

.edit-login-bottom {
    font-size: 0.75rem;
    text-align: center;
}

/*
 * #############################
 * ##### LOGIN WITH GOOGLE #####
 * #############################
 */

.edit-login-with-google {
    padding: 0;
    border-radius: 0.1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $google-blue;
    box-shadow: 0 0 0.1rem $background-tint;
    cursor: pointer;
}

.edit-login-with-google.active {
    display: flex !important;
}

.edit-login-google-text {
    margin: 0 0.25rem;
    font-family: $google-font;
    font-weight: 700;
    font-size: 0.5rem;
    color: $background;
}
