/**
 * Component for editing a volunteering opportunity. The filters at the bottom
 * will fill when selected and only have a border if deselected. They will also
 * fill on hover.
 */

@import '../../custom.scss';

/*
 * ##############################
 * ##### GENERAL FORMATTING #####
 * ##############################
 */
 
.edit-volunteering {
    text-align: left;
    font-size: 0.65rem;
    margin: 1rem 2rem 0;
}

.edit-volunteering label {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.edit-volunteering input {
    font-size: 1rem;
}

.edit-volunteering textarea {
    display: block;
    width: 98%;
    height: 8rem;
    margin: 0.25rem auto 0.5rem;
    padding: 1%;

    font-size: 0.75rem;
    resize: none;
}

/*
 * ###########################
 * ##### FORM FORMATTING #####
 * ###########################
 */

.edit-volunteering-title-and-open {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.edit-volunteering-name-input {
    margin-left: 0.5rem;
    width: 95%;
}

.edit-volunteering-open-switch {
    height: fit-content;
    margin-top: 0.25rem;
    padding: 0.1rem 0.5rem;

    border: 0;
    box-shadow: 0 0 0.1rem $background-tint;

    font-size: 0.8rem;
    background-color: $background;
    transition: 0.2s;
    cursor: pointer;
}

.edit-volunteering-open-switch.open {
    color: $primary;
}

.edit-volunteering-open-switch.closed {
    color: $bad;
}

.edit-volunteering-open-switch:hover {
    box-shadow: 0 0 0.1rem 0.05rem $background-tint;
}

.edit-volunteering-filter-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 6rem);
    justify-content: center;
}

.signup-time-input {
    width: 10rem;
}

/*
 * ################################
 * ##### VOLUNTEERING FILTERS #####
 * ################################
 */

.edit-volunteering-filter {
    display: block;
}

// TODO: Share this css between volunteering.scss
.vol-filter {
    background-color: $background;
    border: 0.1rem solid $background-tint;
    border-radius: 1rem;
    width: 8rem;
    // TODO: Fix slightly off button ratios
    padding: 0.2rem 0.1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: $title-font;
    font-size: 0.75rem;
    font-weight: 400;
    transition: 0.2s;
}

.vol-filter.active {
    display: inline;
}

.vol-filter.all {
    border-color: $filter-all;
}

.vol-filter.all.active,
.volunteering-filters .vol-filter.all:hover {
    background-color: $filter-all;
}

.vol-filter.limited {
    border-color: $filter-limited;
}

.vol-filter.limited.active,
.volunteering-filters .vol-filter.limited:hover {
    background-color: $filter-limited;
}

.vol-filter.semester {
    border-color: $filter-semester;
}

.vol-filter.semester.active,
.volunteering-filters .vol-filter.semester:hover {
    background-color: $filter-semester;
}

.vol-filter.set-times {
    border-color: $filter-set-times;
}

.vol-filter.set-times.active,
.volunteering-filters .vol-filter.set-times:hover {
    background-color: $filter-set-times;
}

.vol-filter.weekly {
    border-color: $filter-weekly;
}

.vol-filter.weekly.active,
.volunteering-filters .vol-filter.weekly:hover {
    background-color: $filter-weekly;
}

.vol-filter.open {
    border-color: $filter-open;
}

.vol-filter.open.active,
.volunteering-filters .vol-filter.open:hover {
    background-color: $filter-open;
}