/**
 * Edit history is displayed as a series of dropdown components:
 *
 * 1) Initially, it is a line of clickable text.
 * 2) When clicked, it will expand to a table that shows all of the edits.
 * 3) Clicking on an element will expand that cell and show a JSON version of the edit.
 */

@import '../../custom.scss';

.edit-history {
    margin: 0 4rem;
}

.edit-history-toggle {
    width: fit-content;
    margin: auto;

    text-align: center;
    color: $text-light;
    transition: 0.2s;
    cursor: pointer;
}

.edit-history-toggle:hover {
    color: $primary;
}

.edit-history-list {
    margin: 0.5rem;
    border: 0.04rem solid $background-tint;
}

.edit-history-list .edit-history-card:last-child {
    border: none;
}