@import '../custom.scss';

.CalendarEvent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $cal-font;
    font-weight: 800;
    margin: 0 0.15rem 0.15rem 0.15rem;
}

.CalendarEvent:hover {
    cursor: pointer;
    background-color: $background-tint;
}

.calendar-event-type {
    height: 0.3rem;
    width: 0.3rem;
    flex-basis: 0.3rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $type-event;
    border-radius: 0.05rem;
    margin: 0 0.15rem 0 0.1rem;
}

.event-type-signup {
    background-color: $type-signup;
}

.calendar-event-time {
    font-size: 0.35rem;
    color: $text-light;
    margin: 0 0.1rem 0 0.1rem;
}

.calendar-event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.4rem;
    margin: 0 0.1rem 0 0;
}
