@import '../custom.scss';

.CalendarDay {
    overflow: hidden;
    border-style: solid;
}

/***** DON'T TOUCH THIS *****/
// .CalendarDay:hover {
//     overflow: visible;
// }

.day {
    font-size: 0.6rem;
    margin: 0.25rem;
}

.calendar-event {
    display: flex;
    flex-direction: column;
}
