@import '../custom.scss';

.ClubCard {
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(0 0 0.08rem $background-tint);
    background-color: $background;
    text-align: center;
}

.image-box {
    background-color: $background-tint;
    width: 100%;
    height: 3.5rem;
}

// TODO: Fix jenk placeholder (prob replace with default image)
.image-placeholder {
    position: absolute;
    top: 12%;
    left: 17%;
    font-size: 0.75rem;
    color: $background;
}

.club-image {
    color: $background-tint;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.club-type {
    margin-top: 0.1rem;
    font-size: 0.5rem;
    color: $primary;
}

.club-indp {
    color: $type-signup;
}

.ClubCard > .club-name {
    color: $text-primary;
    font-size: 0.65rem;
}

.globe-style {
    fill: none;
    stroke: #231f20;
    stroke-linejoin: round;
    stroke-width: 30px;
}

// TODO: Change icon display to flexbox
.web-icon,
.fb-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1.75rem;
    transition: 0.2s;
}

.web-icon {
    left: auto;
    right: 1.75rem !important;
}

.web-icon > path,
.fb-icon > path {
    transition: 0.2s;
}

.fb-icon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.05rem #aaaaaa);
}

.fb-icon:hover > path {
    fill: #3b5998;
}

.web-icon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.01rem #aaaaaa);
}

.web-icon:hover > path {
    stroke: $primary;
}