/**
 * This is the most complex popup component, with a tab that switches betwwen
 * viewing execs and committees.
 * 
 * 1) The two views (execs and committees) can be toggled by tabs above that section
 * 2) The edit button is below this section and will open the editing menu
 * 3) The cover photo is exactly 864 x 378 (which is a 48:21 ratio or 24rem x 10.5rem)
 */

@import '../custom.scss';

.club-popup {
    width: 24rem;
    background-color: $background;
    text-align: center;
}

/*
 * ######################
 * ##### POPUP INFO #####
 * ######################
 */

// Set scale ratio for the image
.club-popup-image {
    width: 24rem;
    height: 10.5rem;
    display: block;
    object-fit: cover;

    background-color: $background-tint;
    color: $background-tint;
}

.club-popup-advised {
    margin-top: 0.25rem;
    color: $primary;
}

.club-popup-advised.inactive {
    color: $type-signup;
    display: block;
}

.club-popup-name {
    font-size: 1.45rem;
    padding: 0 0.75rem;
}

.club-popup-description {
    padding: 0.5rem 1.75rem;
    font-family: $alt-font;
    font-size: 0.5rem;
}

/*
 * #################
 * ##### LINKS #####
 * #################
 */

.club-popup-link {
    width: fit-content;
    margin: auto;

    color: $text-light;
    font-size: 0.7rem;
    text-decoration: underline;

    cursor: pointer;
    transition: 0.2s;
}

.club-popup-link:hover {
    color: $primary;
}

/*
 * ###################################
 * ##### EXEC AND COMMITTEE TABS #####
 * ###################################
 */

.club-popup-tab-container {
    flex-direction: row;
    justify-content: center;

    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.club-popup-tab-item {
    margin: 0 1.5rem;
    color: $text-light;
    transition: 0.2s;
    cursor: pointer;
}

// Override the default inactive behavior (display: none)
.club-popup-tab-item.inactive {
    display: block !important;
}

.club-popup-tab-item.active,
.club-popup-tab-item:hover {
    color: $primary;
}

.club-popup-committees {
    grid-template-columns: repeat(auto-fill, 10rem);
    gap: 1rem;
    justify-content: center;
    align-items: center;

    display: grid;
    margin: auto;
    margin-bottom: 1rem;
}

/*
 * ##########################
 * ##### EDIT CLUB INFO #####
 * ##########################
 */

.club-popup-edit-button {
    margin-bottom: 0.5rem;
}

.club-popup-edit {
    text-align: left;
}

// Container is relative because absolute needs a non-static positioned ancestor
.club-popup-edit-image-container {
    position: relative;
    width: 100%;
    height: 10.5rem;
}

// Input (button) of type 'file' to upload images
.club-popup-cover-photo-upload {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

// Everything underneath the cover photo upload
// This container has a padding that applies to all the 'edit' elements
.club-popup-edit-bottom {
    padding: 0.75rem;
}

.club-popup-name-input {
    width: 98%;
    font-size: 1.1rem;
}

.club-popup-description-input {
    width: 97%;
    height: 6rem;
    margin: 0.25rem 0 0.5rem;
    padding: 0.25rem;

    font-family: $alt-font;
    font-size: 0.45rem;
}

.club-popup-link-input,
.club-popup-link-label {
    font-size: 0.75rem;
}

.club-popup-link-input {
    width: 60%;
}

/*
 * ###################################
 * ##### EXEC AND COMMITTEE EDIT #####
 * ###################################
 */

.club-popup-card-edit-heading {
    margin: 1rem 0 0.25rem;
    font-size: 1rem;
    text-align: center;
    color: $text-light;
}

// Override bottom margins
.club-popup .exec-edit,
.club-popup .committee-edit {
    margin-bottom: 0.5rem;
}

.club-popup-card-edit-list {
    display: flex;
    flex-direction: column;
}

.club-popup-add-container {
    text-align: center;
}

/*
 * #####################################
 * ##### SUBMIT AND DELETE BUTTONS #####
 * #####################################
 */

.club-popup-action-button-box {
    margin-top: 0.5rem;
    align-items: center;
}

.club-popup-trash-group {
    height: fit-content;
    flex-grow: 1;
    display: flex;
}

.club-popup-trash-group.inactive {
    display: none !important;
}

.club-popup-delete-text {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    transition: 0.2s;
}

.club-popup-delete-box {
    display: flex;
    cursor: pointer;
}

.club-popup-delete-box:hover .club-popup-delete-text {
    color: $bad;
}

.club-popup-delete-box:hover .trash-can-path {
    fill: $bad;
}

.club-popup-action-button {
    margin-top: 0 !important;
    flex-grow: 0;
}
