@import '../custom.scss';

.CommitteeCard {
    width: 10rem;
    height: 9rem;
    box-shadow: 0 0 0.1rem $background-tint;
    filter: drop-shadow(0 0 0.08rem $background-tint);
    background-color: $background;
    text-align: center;
    transition: 0.2s;
}

.CommitteeCard > .committee-name {
    color: $text-primary;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
}

.committee-description {
    font-size: 0.5rem;
    padding: 0 0.25rem;
}

.committee-icons {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
