@import '../custom.scss';

.DateSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 0.7rem;
    position: sticky;
    top: 4.5rem;
    background-color: $background;
}

.line {
    height: 0.125rem;
    border-radius: 1rem;
    background-color: $text-primary;
}

.left-line {
    flex-grow: 1;
}

.right-line {
    flex-grow: 6;
}

.schedule-date {
    padding: 0 0.5rem;
}
