@import '../custom.scss';

.EventPopup {
    width: 25rem;
    padding: 0.5rem;
}

.EventPopup .display-events {
    display: flex;
    flex-direction: row;
}

.home-side {
    flex-basis: 50%;
    overflow-x: hidden;
    padding: 0.5rem;
}

.EventPopup .event-left {
    border-right: 0.03rem solid $text-primary;
}

.EventPopup .popup-event-type {
    font-size: 0.6rem;
}

.EventPopup .popup-event-type.event {
    color: $type-event-darker;
}

.EventPopup .popup-event-type.signup {
    color: $type-signup;
}

.EventPopup .event-name {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 1.1rem;
    margin-bottom: -0.1rem;
}

.EventPopup .event-club {
    font-size: 0.65rem;
    color: $text-light;
}

.EventPopup .event-date {
    font-size: 0.65rem;
    margin-top: 0.5rem;
}

.EventPopup .event-time {
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
}

.EventPopup .event-link {
    display: block;
    width: fit-content;
    font-size: 0.5rem;
    color: $text-light;
    transition: 0.2s;
    margin-bottom: 0.25rem;
}

.EventPopup .event-link:hover {
    color: $primary;
}

.EventPopup .event-edited-by {
    margin-top: 3rem;
    font-size: 0.45rem;
    color: $text-lighter;
    cursor: pointer;
}

.EventPopup .event-description {
    font-size: 0.55rem;
    white-space: pre-line;
}

.EventPopup .action-button {
    font-size: 0.65rem;
    padding: 0.1rem 0.25rem;
}

.EventPopup .inactive {
    display: none;
}

.EventPopup .active {
    display: block;
}

.EventPopup .edit {
    padding: 0.5rem;
}

.EventPopup .name-input {
    width: 15rem;
}

.EventPopup input,
.EventPopup label,
.EventPopup textarea {
    font-size: 0.75rem;
}

.EventPopup label {
    margin-right: 0.5rem;
}

.EventPopup .description-input {
    width: 95%;
    height: 6rem;
}

.EventPopup .extra-link {
    margin-left: 2rem;
}

.action-button-box .action-button {
    margin: 0.25rem 0.25rem 0;
}
