/**
 * Component specifically used to upload images
 * Even though it uses an input[type="file"], it's actually hidden:
 *
 * 1) The standard input box will be hidden
 * 2) The label will function as a styled button
 * 3) The user can click on the label to access the functionality of the file upload
 */
@import '../custom.scss';

.image-upload-input {
    display: none;
}

.image-upload-button {
    display: inline-block;
    padding: 0.1rem 0.25rem;

    background-color: rgba($text-primary, 0.5);
    color: $text-lighter;
    transition: 0.2s;
    cursor: pointer;
}

.image-upload-button:hover {
    background-color: rgba($background-dark, 0.25);
    color: white;
}