/**
 * The LinkBox component is a simple button, with a solid black border and
 * an added box-shadow on hover
 */

@import '../custom.scss';

.link-box {
    border: 0.1rem solid $text-primary;
    padding: 0.25rem;
    width: fit-content;

    text-align: center;
    font-size: 1rem;
    background-color: $background;
    cursor: pointer;
    transition: 0.3s;
}

.link-box:hover {
    box-shadow: 0 0 0.3rem $text-light;
}
