@import '../custom.scss';

.LinkBox {
    border: 0.1rem solid $text-primary;
    padding: 0.25rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
    background-color: $background;
}

.LinkBox:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem $text-primary);
}
