@import '../custom.scss';

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
    align-items: center;
}

.menu-item {
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    border-radius: 0.1rem;
    transition: 0.2s;
}

.menu-item:hover {
    background-color: #dddddd;
}

.active {
    color: $primary;
    background-color: $background !important;
}

.menu-logo-tams {
    font-size: 1.5rem;
}

.menu-logo-club {
    margin-top: -0.25rem;
    font-size: 0.75rem;
}

.menu-search {
    width: 12rem;
    background-color: $background !important;
}

.search-bar {
    width: 80%;
    float: right;
    font-size: 0.9rem;
}
