@import '../custom.scss';

.Popup {
    position: fixed;
    background-color: #94949444;
    display: none;
    width: 100%;
    min-height: 100%;
    z-index: 10;
    backdrop-filter: blur(0.1rem);
}

.Popup.active {
    display: block;
}

.close-bkgd {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup-content {
    display: block;
    background-color: $background;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: min-content;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 0 3px $text-light;
}

.Popup.noscroll .popup-content {
    overflow-y: hidden !important;
}
