@import '../custom.scss';

.ScheduleEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    transition: 0.2s;
}

.event-type {
    height: 0.8rem;
    width: 0.8rem;
    background-color: $type-event;
    border: 0.1rem solid $text-primary;
    border-radius: 0.25rem;
    margin: 0 1em 0 2em;
}

.event-type-signup {
    background-color: $type-signup;
}

.event-time {
    width: 7.5rem;
}

.event-club-name {
    color: $text-light;
    width: 5rem;
}

// TODO: Add mobile view