@import '../custom.scss';

.VolunteeringPopup {
    text-align: center;
    padding: 0.5rem;
    width: 14rem;
}

.VolunteeringPopup .filter {
    font-size: 0.65rem;
}

.res-popup-open {
    font-size: 0.65rem;
}

.res-popup-open.open {
    color: $primary;
}

.res-popup-open.closed {
    color: $bad;
}

.res-popup-name {
    font-size: 1.5rem;
}

.res-popup-club {
    font-size: 1rem;
    color: $text-light;
    margin-top: -0.25rem;
}

.VolunteeringPopup .ActionButton {
    margin-top: 0.5rem;
}