/**
 * This is the About page, with a simple description of the site in paragraph tags
 * along with a link to the Github, which is just in a LinkBox.
 * The form at the bottom is a simple textarea with a submit button.
 */

@import '../../custom.scss';

.about {
    margin: 1rem 15vw 0;
}

.about-header {
    height: 6rem;
    display: block;
    margin: 0 auto 0.5rem;
}

.about-info-p {
    margin-bottom: 1rem;
    text-align: center;
    
    font-size: 0.8rem;
}

/*
 * ####################
 * ##### FEEDBACK #####
 * ####################
 */

#feedback-form {
    width: 100%;
    height: 10rem;
    padding: 0.25rem;
    font-size: 0.75rem;
}

#feedback-submit {
    padding: 0.25rem 0.75rem;
    border: 0;
    font-family: $title-font;
    font-weight: 300;
    font-size: 1rem;

    color: $primary;
    background-color: $background;
    filter: drop-shadow(0 0 0.05rem $background-tint);
    transition: 0.3s;
}

#feedback-submit:hover {
    filter: drop-shadow(0 0 0.15rem $background-tint);
}

/*
 * #########################
 * ##### MEDIA QUERIES #####
 * #########################
 */

@include media-small-desktop-down {
    .about {
        margin: 1rem 5vw;
    }

    .about-header {
        width: 90%;
        height: fit-content;
    }

    #feedback-form {
        width: 90%;
    }
}
