/* Format overall font size */
body {
    font-size: 20px;
}

/* Format sidebar listing */
.sidebar ul li a {
    font-size: 16px;
}

/* Format code */
.markdown-section pre > code {
    font-size: 1rem;
}

/* Format tables */
.markdown-section table {
    display: table;
    text-align: center;
}