name: 'Build and Deploy App'

on:
    push:
        tags:
            - 'v-*'

jobs:
    deploy:
        name: Deploy Production App
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use NodeJS 14
              uses: actions/setup-node@v2
              with:
                  node-version: '14'

            - name: Delete current production branch
              uses: dawidd6/action-delete-branch@v3
              with:
                  github_token: ${{ github.token }}
                  suffix: production

            - name: Create production branch for Netlify to deploy
              uses: peterjgrainger/action-create-branch@v2.0.1
              env:
                  GITHUB_TOKEN: ${{ github.token }}
              with:
                  branch: 'production'

            - name: Set env file
              env:
                  ENV: ${{ secrets.PROD_ENV }}
              run: cd $GITHUB_WORKSPACE/server && echo "$ENV" >| .env

            - name: Deploy frontend with Netlify
              uses: nwtgck/actions-netlify@v1.2
              with:
                  publish-dir: './client/build'
                  production-branch: master
                  github-token: ${{ secrets.GH_TOKEN }}
                  deploy-message: 'Deploy production frontend from Github Actions'
                  enable-pull-request-comment: false
                  enable-commit-comment: false
                  overwrites-pull-request-comment: false
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
              timeout-minutes: 5

            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Set up Docker Buildx
              id: buildx
              uses: docker/setup-buildx-action@v1

            - name: Build and push
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  context: ./
                  file: ./Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/tcc-server:latest

            - name: Image digest
              run: echo ${{ steps.docker_build.outputs.digest }}

            - name: Pull and run docker container on Droplet
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  script: |
                      docker pull michaelzhao21/tcc-server:latest
                      docker stop production
                      docker run --rm -d --name production -p 8082:80 michaelzhao21/tcc-server
                      docker image prune -af
