name: Triage new issue
on:
    issues:
        types:
            - opened
            - reopened
            - unassigned

jobs:
    triage:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        steps:
            - name: Change issue labels
              uses: andymckay/labeler@master
              with:
                  add-labels: 'Status: Needs Triage'
                  remove-labels: 'Status: In Progress'
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
