name: Untriage issue
on:
    issues:
        types:
            - assigned

jobs:
    untriage:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        steps:
            - name: Change issue labels
              uses: andymckay/labeler@master
              with:
                  remove-labels: 'Status: Needs Triage'
                  add-labels: 'Status: In Progress'
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
